<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Arial, serif;
            font-size: 9.4px;
            color: rgb(255, 254, 255);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Arial, serif;
            font-size: 9.4px;
            color: rgb(255, 254, 255);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Arial, serif;
            font-size: 5.5px;
            color: rgb(255, 254, 255);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Arial, serif;
            font-size: 5.5px;
            color: rgb(255, 254, 255);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Arial, serif;
            font-size: 5.5px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Arial, serif;
            font-size: 5.5px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Arial, serif;
            font-size: 14.1px;
            color: rgb(43, 42, 41);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Arial, serif;
            font-size: 14.1px;
            color: rgb(43, 42, 41);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Arial, serif;
            font-size: 9.1px;
            color: rgb(43, 42, 41);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Arial, serif;
            font-size: 9.1px;
            color: rgb(43, 42, 41);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_030 {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_030 {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_008 {
            font-family: Arial, serif;
            font-size: 8.6px;
            color: rgb(230, 56, 63);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_008 {
            font-family: Arial, serif;
            font-size: 8.6px;
            color: rgb(230, 56, 63);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Arial, serif;
            font-size: 9.1px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Arial, serif;
            font-size: 9.1px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Arial, serif;
            font-size: 4.9px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Arial, serif;
            font-size: 4.9px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_011 {
            font-family: Arial, serif;
            font-size: 4.0px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_011 {
            font-family: Arial, serif;
            font-size: 4.0px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_013 {
            font-family: Arial, serif;
            font-size: 5.0px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_013 {
            font-family: Arial, serif;
            font-size: 5.0px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_012 {
            font-family: Arial, serif;
            font-size: 3.8px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_012 {
            font-family: Arial, serif;
            font-size: 3.8px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_014 {
            font-family: Arial, serif;
            font-size: 6.0px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_014 {
            font-family: Arial, serif;
            font-size: 6.0px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_026 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_026 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_015 {
            font-family: Arial, serif;
            font-size: 4.4px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_015 {
            font-family: Arial, serif;
            font-size: 4.4px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_016 {
            font-family: Arial, serif;
            font-size: 7.4px;
            color: rgb(230, 56, 63);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_016 {
            font-family: Arial, serif;
            font-size: 7.4px;
            color: rgb(230, 56, 63);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_017 {
            font-family: Arial, serif;
            font-size: 7.0px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_017 {
            font-family: Arial, serif;
            font-size: 7.0px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_027 {
            font-family: Arial, serif;
            font-size: 7.0px;
            color: rgb(249, 232, 217);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_027 {
            font-family: Arial, serif;
            font-size: 7.0px;
            color: rgb(249, 232, 217);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_018 {
            font-family: Arial, serif;
            font-size: 7.6px;
            color: rgb(230, 56, 63);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_018 {
            font-family: Arial, serif;
            font-size: 7.6px;
            color: rgb(230, 56, 63);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_019 {
            font-family: Arial, serif;
            font-size: 8.6px;
            color: rgb(230, 56, 63);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_019 {
            font-family: Arial, serif;
            font-size: 8.6px;
            color: rgb(230, 56, 63);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_020 {
            font-family: Arial, serif;
            font-size: 6.7px;
            color: rgb(230, 56, 63);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_020 {
            font-family: Arial, serif;
            font-size: 6.7px;
            color: rgb(230, 56, 63);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_021 {
            font-family: Arial, serif;
            font-size: 5.9px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_021 {
            font-family: Arial, serif;
            font-size: 5.9px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_022 {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(230, 56, 63);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_022 {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(230, 56, 63);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_023 {
            font-family: Arial, serif;
            font-size: 6.5px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_023 {
            font-family: Arial, serif;
            font-size: 6.5px;
            color: rgb(43, 42, 41);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_024 {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(254, 255, 255);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_024 {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(254, 255, 255);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_029 {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(34, 31, 31);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_029 {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(34, 31, 31);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        -->
    </style>
    <script type="text/javascript"
        src="3f38d478-5ae8-11ec-a980-0cc47a792c0a_id_3f38d478-5ae8-11ec-a980-0cc47a792c0a_files/wz_jsgraphics.js">
    </script>
</head>

<body>
    <div
        style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
            <img src="3f38d478-5ae8-11ec-a980-0cc47a792c0a_id_3f38d478-5ae8-11ec-a980-0cc47a792c0a_files/background1.jpg"
                width=612 height=792></div>
        <div style="position:absolute;left:2.48px;top:0.08px" class="cls_003"><span class="cls_003">✓</span><span
                class="cls_004">To fill in and save the PDF, download and open in Adobe Reader.</span></div>
        <div style="position:absolute;left:484.99px;top:14.55px" class="cls_005"><span class="cls_005">Motor Vehicle
                Act</span></div>
        <div style="position:absolute;left:184.45px;top:14.91px" class="cls_007"><span class="cls_007">Transfer/Tax
                Form</span></div>
        <div style="position:absolute;left:333.75px;top:18.89px" class="cls_006"><span class="cls_006">Insurance
                Corporation</span></div>
        <div style="position:absolute;left:484.99px;top:20.05px" class="cls_005"><span class="cls_005">Commercial
                Transport Act</span></div>
        <div style="position:absolute;left:484.99px;top:25.55px" class="cls_005"><span class="cls_005">Provincial Sales
                Tax Act</span></div>
        <div style="position:absolute;left:333.75px;top:29.89px" class="cls_006"><span class="cls_006">of British
                Columbia</span></div>
        <div style="position:absolute;left:484.99px;top:31.05px" class="cls_005"><span class="cls_005">Excise Tax
                Act</span></div>
        <div style="position:absolute;left:484.99px;top:36.55px" class="cls_005"><span class="cls_005">Off-Road Vehicle
                Act</span></div>
        <div style="position:absolute;left:26.26px;top:37.41px" class="cls_030"><span class="cls_030">D</span><span
                class="cls_002">O NOT WRITE OR STAP</span><span class="cls_030">LE</span></div>
        <div style="position:absolute;left:484.99px;top:42.05px" class="cls_005"><span class="cls_005">Motor Dealer
                Act</span></div>
        <div style="position:absolute;left:36.77px;top:47.01px" class="cls_002"><span class="cls_002">IN THE SPACE
                ABOVE</span></div>
        <div style="position:absolute;left:484.99px;top:47.55px" class="cls_005"><span class="cls_005">Social Service
                Tax Act</span></div>
        <div style="position:absolute;left:18.14px;top:59.04px" class="cls_008"><span class="cls_008">This form must be
                completed in full and taken to an Autoplan Broker with identification within ten days of the sale. Use
                blue or black ink only.</span></div>
        <div style="position:absolute;left:17.20px;top:70.81px" class="cls_009"><span class="cls_009">VEHICLE
                DESCRIPTION</span></div>
        <div style="position:absolute;left:19.79px;top:84.50px" class="cls_010"><span class="cls_010">REGISTRATION
                NO. <%=regNo %></span></div>
        <div style="position:absolute;left:98.09px;top:84.20px" class="cls_010"><span class="cls_010">COLOUR <%=colour %></span>
        </div>
        <div style="position:absolute;left:195.85px;top:84.20px" class="cls_010"><span class="cls_010">FUEL <%=fuel %></span></div>
        <div style="position:absolute;left:217.69px;top:84.20px" class="cls_010"><span class="cls_010">YEAR <%=year %></span></div>
        <div style="position:absolute;left:261.00px;top:84.20px" class="cls_010"><span class="cls_010">MAKE <%=make %></span></div>
        <div style="position:absolute;left:401.34px;top:84.20px" class="cls_010"><span class="cls_010">MODEL <%=model %></span>
        </div>
        <div style="position:absolute;left:509.08px;top:84.20px" class="cls_010"><span class="cls_010">BODY STYLE <%=body_style %></span>
        </div>
        <div style="position:absolute;left:196.03px;top:90.30px" class="cls_011"><span class="cls_011">SEE</span></div>
        <div style="position:absolute;left:196.03px;top:94.30px" class="cls_011"><span class="cls_011">REVERSE</span>
        </div>
        <div style="position:absolute;left:21.10px;top:107.15px" class="cls_010"><span class="cls_010">VEHICLE
                IDENTIFICATION NO. (VIN) <%=vin %></span></div>
        <div style="position:absolute;left:284.67px;top:107.15px" class="cls_010"><span class="cls_010">SEATING <%=seat_cap %></span>
        </div>
        <div style="position:absolute;left:322.48px;top:107.05px" class="cls_010"><span class="cls_010">NET
                WEIGHT <%=net_w %></span><span class="cls_013"> (kg) <%=net_w %></span></div>
        <div style="position:absolute;left:384.77px;top:107.05px" class="cls_010"><span class="cls_010">GROSS
                WEIGHT <%=gross_w %></span><span class="cls_013"> (kg)</span></div>
        <div style="position:absolute;left:461.11px;top:107.15px" class="cls_010"><span class="cls_010">DISP (CC) <%=disp %></span>
        </div>
        <div style="position:absolute;left:515.81px;top:107.15px" class="cls_010"><span class="cls_010">VEHICLE
                STATUS <%=v_status%></span></div>
        <div style="position:absolute;left:572.06px;top:107.15px" class="cls_010"><span class="cls_010">FLOOD <%=flood %></span>
        </div>
        <div style="position:absolute;left:284.67px;top:112.15px" class="cls_010"><span class="cls_010">CAPACITY</span>
        </div>
        <div style="position:absolute;left:539.23px;top:112.90px" class="cls_012"><span class="cls_012">A -
                ALTERED</span></div>
        <div style="position:absolute;left:580.82px;top:114.29px" class="cls_011"><span class="cls_011">No</span></div>
        <div style="position:absolute;left:539.23px;top:116.90px" class="cls_012"><span class="cls_012">D -
                NON-REPR</span></div>
        <div style="position:absolute;left:539.23px;top:120.90px" class="cls_012"><span class="cls_012">R -
                REBUILT</span></div>
        <div style="position:absolute;left:539.23px;top:124.90px" class="cls_012"><span class="cls_012">S -
                SALVAGE</span></div>
        <div style="position:absolute;left:580.55px;top:122.36px" class="cls_011"><span class="cls_011">Yes</span></div>
        <div style="position:absolute;left:21.10px;top:130.91px" class="cls_014"><span class="cls_014">Complete this
                line only if the vehicle was constructed new by a primary manufacturer</span></div>
        <div style="position:absolute;left:269.70px;top:131.60px" class="cls_010"><span class="cls_010">YEAR</span>
        </div>
        <div style="position:absolute;left:304.20px;top:130.60px" class="cls_010"><span class="cls_010">MAKE</span>
        </div>
        <div style="position:absolute;left:376.10px;top:130.79px" class="cls_011"><span class="cls_011">FRAME /
                BODY</span></div>
        <div style="position:absolute;left:411.60px;top:130.60px" class="cls_010"><span class="cls_010">SECONDARY
                VEHICLE IDENTIFICATION NO. (VIN)</span></div>
        <div style="position:absolute;left:561.84px;top:130.79px" class="cls_011"><span class="cls_011">FRAME /
                BODY</span></div>
        <div style="position:absolute;left:21.10px;top:137.41px" class="cls_014"><span class="cls_014">and a secondary
                manufacturer and has 2 vehicle identification numbers (e.g. motor homes,</span></div>
        <div style="position:absolute;left:269.70px;top:137.50px" class="cls_011"><span class="cls_011">FRAME /
                BODY</span></div>
        <div style="position:absolute;left:21.10px;top:144.41px" class="cls_014"><span class="cls_014">school buses).
            </span><span class="cls_013">(see reverse)</span></div>
        <div style="position:absolute;left:17.30px;top:156.37px" class="cls_009"><span class="cls_009">SELLER
                INFORMATION AND VEHICLE DECLARATION </span><span class="cls_002">(Must be completed in full by the
                seller)</span></div>
        <div style="position:absolute;left:21.42px;top:170.17px" class="cls_010"><span class="cls_010">DATE OF SALE
            </span><span class="cls_013">(ddmmyyyy)</span></div>
        <div style="position:absolute;left:106.34px;top:170.44px" class="cls_010"><span class="cls_010">PREVIOUS VEHICLE
                HISTORY</span></div>
        <div style="position:absolute;left:259.07px;top:170.25px" class="cls_010"><span class="cls_010">VEHICLE
                PREVIOUSLY</span></div>
        <div style="position:absolute;left:326.80px;top:170.44px" class="cls_010"><span class="cls_010">CUMULATIVE
                VEHICLE DAMAGE</span></div>
        <div style="position:absolute;left:468.13px;top:170.55px" class="cls_010"><span class="cls_010">ODOMETER
                READING</span></div>
        <div style="position:absolute;left:106.34px;top:175.69px" class="cls_010"><span class="cls_010">HAS VEHICLE EVER
                BEEN USED FOR:</span></div>
        <div style="position:absolute;left:259.07px;top:175.25px" class="cls_010"><span class="cls_010">REGISTERED
                OUTSIDE BC</span></div>
        <div style="position:absolute;left:549.00px;top:174.22px" class="cls_011"><span class="cls_011">ODOMETER</span>
        </div>
        <div style="position:absolute;left:327.93px;top:176.99px" class="cls_013"><span class="cls_013">New vehicle
                where</span></div>
        <div style="position:absolute;left:396.01px;top:178.38px" class="cls_013"><span class="cls_013">No</span></div>
        <div style="position:absolute;left:411.18px;top:176.93px" class="cls_013"><span class="cls_013">Used
                vehicle</span></div>
        <div style="position:absolute;left:453.64px;top:178.38px" class="cls_013"><span class="cls_013">No</span></div>
        <div style="position:absolute;left:549.00px;top:178.22px" class="cls_011"><span
                class="cls_011">REPLACED/BROKEN</span></div>
        <div style="position:absolute;left:172.24px;top:184.45px" class="cls_013"><span class="cls_013">Emergency</span>
        </div>
        <div style="position:absolute;left:234.03px;top:184.45px" class="cls_013"><span class="cls_013">None</span>
        </div>
        <div style="position:absolute;left:327.93px;top:182.49px" class="cls_013"><span class="cls_013">damage exceeded
                20%</span></div>
        <div style="position:absolute;left:411.18px;top:182.43px" class="cls_013"><span class="cls_013">damage</span>
        </div>
        <div style="position:absolute;left:117.19px;top:187.96px" class="cls_013"><span class="cls_013">Rental</span>
        </div>
        <div style="position:absolute;left:145.31px;top:187.91px" class="cls_013"><span class="cls_013">Lease</span>
        </div>
        <div style="position:absolute;left:172.24px;top:189.45px" class="cls_013"><span class="cls_013">or Police</span>
        </div>
        <div style="position:absolute;left:211.07px;top:187.91px" class="cls_013"><span class="cls_013">Taxi</span>
        </div>
        <div style="position:absolute;left:234.03px;top:189.45px" class="cls_013"><span class="cls_013">of these</span>
        </div>
        <div style="position:absolute;left:280.02px;top:188.06px" class="cls_013"><span class="cls_013">No</span></div>
        <div style="position:absolute;left:301.65px;top:187.57px" class="cls_013"><span class="cls_013">Yes</span></div>
        <div style="position:absolute;left:327.93px;top:187.99px" class="cls_013"><span class="cls_013">of asking
                price</span></div>
        <div style="position:absolute;left:395.67px;top:188.73px" class="cls_013"><span class="cls_013">Yes over
                $2,000</span></div>
        <div style="position:absolute;left:453.30px;top:187.73px" class="cls_013"><span class="cls_013">Yes</span></div>
        <div style="position:absolute;left:501.23px;top:180.53px" class="cls_026"><span class="cls_026">,</span></div>
        <div style="position:absolute;left:547.81px;top:188.42px" class="cls_013"><span class="cls_013">km</span></div>
        <div style="position:absolute;left:565.61px;top:188.42px" class="cls_013"><span class="cls_013">mi</span></div>
        <div style="position:absolute;left:21.20px;top:196.77px" class="cls_010"><span class="cls_010">NAME</span><span
                class="cls_014"> </span><span class="cls_013">(SURNAME followed by given names </span><span
                class="cls_015">(</span><span class="cls_013">no initials</span><span class="cls_015">)</span><span
                class="cls_013"> or registered company name</span><span class="cls_015">(</span><span
                class="cls_013">s</span><span class="cls_015">)</span><span class="cls_013">)</span></div>
        <div style="position:absolute;left:317.70px;top:197.59px" class="cls_010"><span class="cls_010">SELLER’S BC
                DRIVER'S</span></div>
        <div style="position:absolute;left:407.74px;top:197.59px" class="cls_010"><span class="cls_010">SELLER’S BC
                DRIVER'S</span></div>
        <div style="position:absolute;left:494.58px;top:197.59px" class="cls_010"><span class="cls_010">SELLING
                PRICE</span></div>
        <div style="position:absolute;left:317.70px;top:202.59px" class="cls_010"><span class="cls_010">LIC. NO.</span>
        </div>
        <div style="position:absolute;left:407.74px;top:202.59px" class="cls_010"><span class="cls_010">LIC. NO.</span>
        </div>
        <div style="position:absolute;left:494.58px;top:207.45px" class="cls_002"><span class="cls_002">$</span></div>
        <div style="position:absolute;left:317.51px;top:218.91px" class="cls_016"><span class="cls_016">I/we the
                seller(s) certify that we are the registered owner(s) of the described vehicle</span></div>
        <div style="position:absolute;left:317.51px;top:226.91px" class="cls_016"><span class="cls_016">and that I/we
                are entitled to sell it, and that the selling price includes any and all</span></div>
        <div style="position:absolute;left:21.09px;top:236.82px" class="cls_010"><span class="cls_010">RESIDENTIAL
                ADDRESS OF SELLER</span></div>
        <div style="position:absolute;left:317.51px;top:234.91px" class="cls_016"><span class="cls_016">consideration
                received for the vehicle and that the information above is true.</span></div>
        <div style="position:absolute;left:318.29px;top:262.17px" class="cls_010"><span class="cls_010">SIGNATURE OF
                SELLER(S)</span><span class="cls_013"> (Print name and title if other than an individual.)</span></div>
        <div style="position:absolute;left:214.14px;top:274.20px" class="cls_010"><span class="cls_010">PROVINCE</span>
        </div>
        <div style="position:absolute;left:257.14px;top:274.20px" class="cls_010"><span class="cls_010">POSTAL
                CODE</span></div>
        <div style="position:absolute;left:318.29px;top:283.16px" class="cls_010"><span class="cls_010">SIGNATURE OF
                SELLER(S)</span><span class="cls_013"> (Print name and title if other than an individual.)</span></div>
        <div style="position:absolute;left:17.36px;top:294.57px" class="cls_009"><span class="cls_009">PURCHASER
                INFORMATION AND TAX DECLARATION</span></div>
        <div style="position:absolute;left:21.54px;top:307.76px" class="cls_017"><span class="cls_017">- Exemption from
                tax being claimed?</span></div>
        <div style="position:absolute;left:191.66px;top:309.47px" class="cls_014"><span class="cls_014">No</span></div>
        <div style="position:absolute;left:216.21px;top:309.48px" class="cls_014"><span class="cls_014">Yes</span></div>
        <div style="position:absolute;left:366.75px;top:308.20px" class="cls_002"><span class="cls_002">Tax
                Calculation</span></div>
        <div style="position:absolute;left:21.54px;top:316.26px" class="cls_017"><span class="cls_017">- Stated purchase
                price below market value?</span></div>
        <div style="position:absolute;left:191.66px;top:317.97px" class="cls_014"><span class="cls_014">No</span></div>
        <div style="position:absolute;left:216.21px;top:317.97px" class="cls_014"><span class="cls_014">Yes</span></div>
        <div style="position:absolute;left:21.54px;top:324.26px" class="cls_017"><span class="cls_017">- Stated trade-in
                value more than market value?</span></div>
        <div style="position:absolute;left:191.66px;top:326.48px" class="cls_014"><span class="cls_014">No</span></div>
        <div style="position:absolute;left:216.21px;top:326.48px" class="cls_014"><span class="cls_014">Yes</span></div>
        <div style="position:absolute;left:368.75px;top:325.64px" class="cls_014"><span class="cls_014">NON-REGISTRANTS
                ONLY</span></div>
        <div style="position:absolute;left:455.30px;top:325.56px" class="cls_014"><span class="cls_014">PST/HST/GST
                REGISTRANTS ONLY</span></div>
        <div style="position:absolute;left:21.54px;top:332.76px" class="cls_017"><span class="cls_017">- BC seller
                collected GST only, but no PST?</span></div>
        <div style="position:absolute;left:191.66px;top:334.91px" class="cls_014"><span class="cls_014">No</span></div>
        <div style="position:absolute;left:216.21px;top:334.92px" class="cls_014"><span class="cls_014">Yes</span></div>
        <div style="position:absolute;left:369.44px;top:336.77px" class="cls_010"><span class="cls_010">PURCHASE
                PRICE</span></div>
        <div style="position:absolute;left:455.71px;top:336.77px" class="cls_010"><span class="cls_010">SELLER’S
                PST/HST/GST REG. NO.</span></div>
        <div style="position:absolute;left:21.54px;top:341.26px" class="cls_017"><span class="cls_017">- Vehicle
                received as a gift?</span></div>
        <div style="position:absolute;left:191.66px;top:343.36px" class="cls_014"><span class="cls_014">No</span></div>
        <div style="position:absolute;left:216.21px;top:343.36px" class="cls_014"><span class="cls_014">Yes</span></div>
        <div style="position:absolute;left:368.49px;top:345.52px" class="cls_002"><span class="cls_002">$</span></div>
        <div style="position:absolute;left:399.64px;top:340.92px" class="cls_026"><span class="cls_026">,</span></div>
        <div style="position:absolute;left:21.54px;top:357.21px" class="cls_014"><span class="cls_014">Comments:
                _______________________________________________________________________________________________________</span>
        </div>
        <div style="position:absolute;left:369.24px;top:356.57px" class="cls_010"><span class="cls_010">LESS
                TRADE</span><span class="cls_013"> (if applicable)</span></div>
        <div style="position:absolute;left:455.71px;top:356.77px" class="cls_010"><span class="cls_010">DEALER REG. NO.
                OR ICBC APP. NO.</span></div>
        <div style="position:absolute;left:368.49px;top:365.40px" class="cls_002"><span class="cls_002">$</span></div>
        <div style="position:absolute;left:398.64px;top:361.02px" class="cls_026"><span class="cls_026">,</span></div>
        <div style="position:absolute;left:368.54px;top:376.27px" class="cls_010"><span class="cls_010">NET PURCHASE
                PRICE</span></div>
        <div style="position:absolute;left:21.87px;top:378.27px" class="cls_017"><span class="cls_017">Your Autoplan
                Broker or the Ministry of Finance may ask you to provide supporting documentation if the</span></div>
        <div style="position:absolute;left:21.87px;top:386.77px" class="cls_017"><span class="cls_017">purchase price is
                below current market value, the trade-in vehicle is more than current market value, or if an</span>
        </div>
        <div style="position:absolute;left:368.49px;top:385.28px" class="cls_002"><span class="cls_002">$</span></div>
        <div style="position:absolute;left:397.84px;top:380.91px" class="cls_026"><span class="cls_026">,</span></div>
        <div style="position:absolute;left:518.61px;top:388.09px" class="cls_027"><span class="cls_027">CTB</span></div>
        <div style="position:absolute;left:21.87px;top:395.27px" class="cls_017"><span class="cls_017">exemption is
                being claimed. Retain all documents supporting the tax paid or the exemption claimed for</span></div>
        <div style="position:absolute;left:368.54px;top:396.22px" class="cls_010"><span class="cls_010">PST/SST PAYABLE
                (if applicable)</span></div>
        <div style="position:absolute;left:488.23px;top:397.09px" class="cls_027"><span class="cls_027">AUTHORIZING
                STAMP</span></div>
        <div style="position:absolute;left:21.87px;top:403.27px" class="cls_017"><span class="cls_017">tax audit
                purposes for five (5) years. If HST paid or exempted retain documents for seven (7) years.</span></div>
        <div style="position:absolute;left:368.49px;top:405.16px" class="cls_002"><span class="cls_002">$</span></div>
        <div style="position:absolute;left:397.84px;top:400.46px" class="cls_026"><span class="cls_026">,</span></div>
        <div style="position:absolute;left:491.28px;top:406.09px" class="cls_027"><span class="cls_027">(WHERE
                REQUIRED)</span></div>
        <div style="position:absolute;left:368.99px;top:415.36px" class="cls_010"><span class="cls_010">HST (BC) PAYABLE
                (if applicable)</span></div>
        <div style="position:absolute;left:503.00px;top:415.09px" class="cls_027"><span class="cls_027">(ALL
                COPIES)</span></div>
        <div style="position:absolute;left:21.87px;top:415.73px" class="cls_018"><span class="cls_018">A signed Vehicle
                Registration (APV250) must accompany this document</span><span class="cls_019"> </span><span
                class="cls_020">(for licensed dealers an</span></div>
        <div style="position:absolute;left:21.87px;top:425.63px" class="cls_020"><span class="cls_020">APV250 or APV9 is
                acceptable)</span></div>
        <div style="position:absolute;left:368.49px;top:425.04px" class="cls_002"><span class="cls_002">$</span></div>
        <div style="position:absolute;left:397.84px;top:420.32px" class="cls_026"><span class="cls_026">,</span></div>
        <div style="position:absolute;left:21.20px;top:438.15px" class="cls_010"><span class="cls_010">NAME</span><span
                class="cls_014"> </span><span class="cls_013">(SURNAME followed by given names </span><span
                class="cls_015">(</span><span class="cls_013">no initials</span><span class="cls_015">)</span><span
                class="cls_013"> or registered company name</span><span class="cls_015">(</span><span
                class="cls_013">s</span><span class="cls_015">)</span><span class="cls_013">)</span></div>
        <div style="position:absolute;left:316.21px;top:439.19px" class="cls_010"><span class="cls_010">PURCHASER’S BC
                DRIVER'S</span></div>
        <div style="position:absolute;left:389.02px;top:439.19px" class="cls_010"><span class="cls_010">PURCHASER’S BC
                DRIVER'S</span></div>
        <div style="position:absolute;left:316.21px;top:444.19px" class="cls_010"><span class="cls_010">LIC. NO.</span>
        </div>
        <div style="position:absolute;left:389.02px;top:444.19px" class="cls_010"><span class="cls_010">LIC. NO.</span>
        </div>
        <div style="position:absolute;left:317.65px;top:461.72px" class="cls_016"><span class="cls_016">I/we the
                purchaser(s) being 18 Years of age or older or having obtained parents’</span></div>
        <div style="position:absolute;left:317.65px;top:469.72px" class="cls_016"><span class="cls_016">consent apply to
                the Insurance Corporation of British Columbia for vehicle</span></div>
        <div style="position:absolute;left:20.95px;top:478.39px" class="cls_010"><span class="cls_010">RESIDENTIAL
                ADDRESS OF PURCHASER</span></div>
        <div style="position:absolute;left:317.65px;top:477.72px" class="cls_016"><span class="cls_016">registration or
                transfer of registered ownership of the vehicle described above and</span></div>
        <div style="position:absolute;left:317.65px;top:485.72px" class="cls_016"><span class="cls_016">by my/our
                signature(s), I/we declare that the information included above is true.</span></div>
        <div style="position:absolute;left:318.44px;top:511.33px" class="cls_010"><span class="cls_010">SIGNATURE OF
                PURCHASER(S)</span><span class="cls_013"> (Print name and title if other than an individual.)</span>
        </div>
        <div style="position:absolute;left:214.00px;top:516.28px" class="cls_010"><span class="cls_010">PROVINCE</span>
        </div>
        <div style="position:absolute;left:257.00px;top:516.28px" class="cls_010"><span class="cls_010">POSTAL
                CODE</span></div>
        <div style="position:absolute;left:318.56px;top:532.78px" class="cls_010"><span class="cls_010">SIGNATURE OF
                PURCHASER(S)</span><span class="cls_013"> (Print name and title if other than an individual.)</span>
        </div>
        <div style="position:absolute;left:21.34px;top:540.19px" class="cls_021"><span class="cls_021">Consent of parent
                or legal guardian for applicant under 18 years of age</span></div>
        <div style="position:absolute;left:20.62px;top:550.69px" class="cls_002"><span class="cls_002">I,</span></div>
        <div style="position:absolute;left:28.22px;top:560.89px" class="cls_010"><span class="cls_010">PRINT NAME OF
                PARENT OR LEGAL GUARDIAN</span></div>
        <div style="position:absolute;left:228.96px;top:561.34px" class="cls_010"><span class="cls_010">PRINT ADDRESS IN
                FULL</span></div>
        <div style="position:absolute;left:425.37px;top:561.44px" class="cls_010"><span class="cls_010">SIGNATURE OF
                PARENT OR LEGAL GUARDIAN</span></div>
        <div style="position:absolute;left:20.51px;top:568.48px" class="cls_002"><span class="cls_002">consent to the
                registration and licencing in the name of the applicant(s), of the vehicle described hereon.</span>
        </div>
        <div style="position:absolute;left:22.00px;top:587.45px" class="cls_022"><span class="cls_022">WARNING TO
                PURCHASER AND SELLER</span></div>
        <div style="position:absolute;left:22.00px;top:596.75px" class="cls_023"><span class="cls_023">This form is not
                valid if the information shown is inconsistent, changed or altered. The Ministry of Finance regularly
                audits vehicle transactions to verify the information provided. Any false</span></div>
        <div style="position:absolute;left:22.00px;top:602.75px" class="cls_023"><span class="cls_023">information
                regarding the selling price or purchase price and trade-in (if applicable) or tax payable may result in
                fines and penalties. It is an offence under Provincial consumption tax legislation</span></div>
        <div style="position:absolute;left:22.00px;top:608.75px" class="cls_023"><span class="cls_023">to make false or
                deceptive statements to evade the payment of tax. A person who commits such an offence is liable to
                fines and/or imprisonment.</span></div>
        <div style="position:absolute;left:18.00px;top:623.51px" class="cls_009"><span class="cls_009">AUTOPLAN AGENT TO
                COMPLETE</span><span class="cls_014"> For all new registrations, and rebuilt or altered vehicles - Check
                applicable boxes</span></div>
        <div style="position:absolute;left:23.30px;top:640.45px" class="cls_005"><span class="cls_005">Canadian
                Import</span></div>
        <div style="position:absolute;left:357.11px;top:638.06px" class="cls_014"><span class="cls_014">Proof of
                ownership</span></div>
        <div style="position:absolute;left:457.39px;top:638.06px" class="cls_014"><span class="cls_014">Physical
                Damage</span></div>
        <div style="position:absolute;left:260.35px;top:645.20px" class="cls_005"><span class="cls_005">VIN sighted and
                confirmed</span></div>
        <div style="position:absolute;left:367.13px;top:647.41px" class="cls_005"><span class="cls_005">NVIS/Certificate
                of Origin</span></div>
        <div style="position:absolute;left:457.39px;top:644.06px" class="cls_014"><span class="cls_014">(</span><span
                class="cls_013">except BC dealer with NVIS</span><span class="cls_014">)</span></div>
        <div style="position:absolute;left:34.15px;top:648.64px" class="cls_005"><span class="cls_005">Canadian vehicle
                - previous jurisdiction_ _______________________________________</span></div>
        <div style="position:absolute;left:260.35px;top:655.55px" class="cls_005"><span class="cls_005">IPRE
                confirmed</span></div>
        <div style="position:absolute;left:367.13px;top:656.98px" class="cls_005"><span class="cls_005">Vehicle
                Registration</span></div>
        <div style="position:absolute;left:468.70px;top:654.71px" class="cls_005"><span
                class="cls_005">Windshield</span></div>
        <div style="position:absolute;left:34.23px;top:660.70px" class="cls_005"><span class="cls_005">Vehicle purchased
                from GST/HST registrant?</span></div>
        <div style="position:absolute;left:160.66px;top:660.72px" class="cls_005"><span class="cls_005">Yes</span></div>
        <div style="position:absolute;left:186.41px;top:660.72px" class="cls_005"><span class="cls_005">No</span></div>
        <div style="position:absolute;left:260.35px;top:665.88px" class="cls_005"><span class="cls_005">BC Vehicle
                Inspection Report(s)</span></div>
        <div style="position:absolute;left:367.13px;top:666.70px" class="cls_005"><span class="cls_005">Certificate of
                Title</span></div>
        <div style="position:absolute;left:468.70px;top:664.55px" class="cls_005"><span class="cls_005">Body
                location</span></div>
        <div style="position:absolute;left:23.55px;top:672.75px" class="cls_005"><span class="cls_005">Foreign
                Import</span></div>
        <div style="position:absolute;left:260.35px;top:676.46px" class="cls_005"><span class="cls_005">Vehicle Import
                Form - Form 1</span></div>
        <div style="position:absolute;left:367.13px;top:676.04px" class="cls_005"><span class="cls_005">Bill of
                Sale</span></div>
        <div style="position:absolute;left:34.65px;top:679.95px" class="cls_005"><span class="cls_005">P - may not be
                sold or disposed of in Canada at any time without authorization from</span></div>
        <div style="position:absolute;left:43.65px;top:685.45px" class="cls_005"><span class="cls_005">Canada Border
                Services Agency</span></div>
        <div style="position:absolute;left:367.13px;top:685.60px" class="cls_005"><span class="cls_005">Salvage
                Invoice</span></div>
        <div style="position:absolute;left:468.70px;top:683.43px" class="cls_005"><span class="cls_005">None
                visible</span></div>
        <div style="position:absolute;left:249.85px;top:688.19px" class="cls_005"><span class="cls_005">No. of
                plates</span></div>
        <div style="position:absolute;left:285.45px;top:690.72px" class="cls_005"><span class="cls_005">0</span></div>
        <div style="position:absolute;left:300.57px;top:690.72px" class="cls_005"><span class="cls_005">1</span></div>
        <div style="position:absolute;left:315.86px;top:690.72px" class="cls_005"><span class="cls_005">2</span></div>
        <div style="position:absolute;left:34.55px;top:692.69px" class="cls_005"><span class="cls_005">T - may not be
                sold on or before_ _____________________________________________</span></div>
        <div style="position:absolute;left:249.85px;top:693.19px" class="cls_005"><span
                class="cls_005">surrendered</span></div>
        <div style="position:absolute;left:367.13px;top:695.31px" class="cls_013"><span class="cls_013">Broker Enquiry
                confirmed ownership</span></div>
        <div style="position:absolute;left:512.31px;top:693.66px" class="cls_014"><span class="cls_014">NOT VALID UNLESS
                STAMPED BY</span></div>
        <div style="position:absolute;left:34.55px;top:701.60px" class="cls_005"><span class="cls_005">N - not subject
                to a disposal restriction</span></div>
        <div style="position:absolute;left:516.72px;top:699.66px" class="cls_014"><span class="cls_014">AUTHORIZED
                ISSUING OFFICE</span></div>
        <div style="position:absolute;left:21.90px;top:713.43px" class="cls_010"><span class="cls_010">TYPE OF
                IDENTIFICATION</span></div>
        <div style="position:absolute;left:132.28px;top:713.43px" class="cls_010"><span class="cls_010">IDENTIFICATION
                NUMBER</span></div>
        <div style="position:absolute;left:207.67px;top:713.43px" class="cls_010"><span class="cls_010">TYPE OF
                IDENTIFICATION</span></div>
        <div style="position:absolute;left:320.18px;top:713.43px" class="cls_010"><span class="cls_010">IDENTIFICATION
                NUMBER</span></div>
        <div style="position:absolute;left:398.83px;top:713.33px" class="cls_010"><span class="cls_010">LEGAL ENTITY
                NUMBER</span><span class="cls_011"> </span><span class="cls_013">(other than individual)</span></div>
        <div style="position:absolute;left:21.71px;top:733.44px" class="cls_014"><span class="cls_014">I have viewed the
                purchaser’s identification or confirmed legal entity</span></div>
        <div style="position:absolute;left:235.96px;top:733.45px" class="cls_010"><span class="cls_010">NAME OF AGENT
                (PRINT)</span></div>
        <div style="position:absolute;left:350.92px;top:733.45px" class="cls_010"><span class="cls_010">SIGNATURE OF
                AGENT</span></div>
        <div style="position:absolute;left:21.71px;top:740.44px" class="cls_014"><span class="cls_014">and verified the
                “Autoplan Agent to complete” information.</span></div>
        <div style="position:absolute;left:18.14px;top:755.81px" class="cls_014"><span class="cls_014">APV9T
                (112014)</span></div>
        <div style="position:absolute;left:453.87px;top:755.80px" class="cls_024"><span class="cls_024">SEE REVERSE FOR
                INSTRUCTIONS</span></div>
        <div style="position:absolute;left:267.35px;top:768.00px" class="cls_029"><span class="cls_029">ICBC</span>
        </div>
        <div style="position:absolute;left:404.27px;top:771.48px" class="cls_005"><span class="cls_005">Vehicle
                Registration</span></div>
    </div>

</body>

</html>